@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Purchases Statistics</h1>
    <p class="lead">Purchases Statistics Details</p>
    <p><a href="~/Orders" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purchases</h2>
        <p>Purchases List</p>
        <p><a class="btn btn-default" href="~/Orders">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charts</h2>
        <p>Charts Details</p>
        <p><a class="btn btn-default" href="~/Charts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Customers List</p>
        <p><a class="btn btn-default" href="~/Customer">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managers</h2>
        <p>Managers List</p>
        <p><a class="btn btn-default" href="~/Manager">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>Products List</p>
        <p><a class="btn btn-default" href="~/Product">Learn more &raquo;</a></p>
    </div>
</div>