@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Purchases Statistics</h1>
    <p class="lead">Purchases Statistics Details</p>
    <p><a href="~/Home/Purchases" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purchases</h2>
        <p>
        Purchases Details
        </p>
        <p><a class="btn btn-default" href="~/Orders">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charts</h2>
        <p>Charts Details</p>
        <p><a class="btn btn-default" href="~/Charts">Learn more &raquo;</a></p>
    </div>
    <!--div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div-->
</div>