<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="startTag2" value="&lt;NDS_v3_reestr2_t001>"/>
    <add key="endTag2" value="&lt;/NDS_v3_reestr2_t001>"/>
    <add key="startTag8" value="&lt;NDS_v3_reestr8_t001>"/>
    <add key="endTag8" value="&lt;/NDS_v3_reestr8_t001>"/>
    <add key="pathToSave" value="c:\Users\6552\Desktop\Химволокно\"/>
  </appSettings>
</configuration>